
    <div class="container-fluid">
        <!--Featured Products-->
        <div class="row">
            <div class="featured-product-header">
                <h2>Featured Products</h2>
            </div>
            <!--Product 1-->
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>

            <!--Product 2-->
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>

            <!--Product 3-->
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Products by Gender-->
        <div class="row">
            <!--MEN-->
            <div class="col-md">
                <div class="men">

                </div>
            </div>

            <!--WOMEN-->
            <div class="col-md">
                <div class="women"> 

                </div>
            </div>
        </div>

        <!--Products by Brand-->
        <div class="row">
            <!--Nike-->
            <div class="col-md">
                <div class="nike">

                </div>
            </div>

            <!--Orion-->
            <div class="col-md">
                <div class="orion">

                </div>
            </div>

            <!--Brooks-->
            <div class="col-md">
                <div class="brooks">

                </div>
            </div>
        </div>

        <!--Company News Post-->
        <div class="row">
            <!--Company Vision-->
            <div class="col-md">
                <div class="vision">

                </div>
            </div>

            <!--Community Outreach-->
            <div class="col-md">
                <div class="community">
                    
                </div>
            </div>
        </div>
    </div>
