<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <!--Featured Products-->
        <div class="row">
            <div class="featured-product-header">
                <h2>Featured Products</h2>
            </div>
            <!--Product 1-->
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>

            <!--Product 2-->
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>

            <!--Product 3-->
            <div class="col-md">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <p class="card-text">

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Product Categories-->
        <div class="row">

        </div>

        <!--Company News Post-->
        <div class="row">

        </div>
    </div>
</body>
</html>
