
    <div class="container-fluid">
        <!--Featured Products-->
        <div class="row">
            <div class="col-md row-header">
                <h2>Featured Products</h2>
            </div>
        </div>
        <div class="row row-bottom-margin">
            <!--Product 1-->
            <div class="col-md feature">
                <div class="card">
                    <img class="card-img-top" src="../assets/red_nike.jpg" alt="featured nike shoe">
                    <div class="card-body">
                        <p class="card-text">
                            Nike Afterburners - Nike's latest in metropolitan style running will provide speed and comfort courtesy 
                            of their patented air cushion support. 
                        </p>
                    </div>
                </div>
            </div>

            <!--Product 2-->
            <div class="col-md feature">
                <div class="card">
                    <img class="card-img-top" src="../assets/asics_light_blue.jpg" alt="featured asics shoe">
                    <div class="card-body">
                        <p class="card-text">
                            Asics Zephyr 8 - Implementing the latest in shock absorber technology, the Zephyr 8 line of Asics 
                            shoes provide plenty of support for a wide variety of terrain. 
                        </p>
                    </div>
                </div>
            </div>

            <!--Product 3-->
            <div class="col-md feature">
                <div class="card">
                    <img class="card-img-top" src="../assets/gray_orion.jpg" alt="featured orion shoe">
                    <div class="card-body">
                        <p class="card-text">
                            Orion Motley - Built for comfort, the Orion Motley shoes are a good alternative for those who want to 
                            conveniently switch it up between a good run and a casual outing. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Products by Gender-->
        <div class="row row-bottom-margin">
            <!--MEN-->
            <div class="col-md">
                <div class="men">
                    <h2>Shop Mens</h2>
                </div>
            </div>

            <!--WOMEN-->
            <div class="col-md">
                <div class="women"> 
                    <h2>Shop Womens</h2>
                </div>
            </div>
        </div>

        <!--Products by Brand-->
        <div class="row">
            <div class="col-md row-header">
                <h2>Shop by Brand</h2>
            </div>
        </div>
        <div class="row row-bottom-margin">
            <!--Nike-->
            <div class="col-md">
                <div class="nike">
                    <h3>Nike</h3>

                </div>
            </div>

            <!--Orion-->
            <div class="col-md">
                <div class="orion">
                    <h3>Orion</h3>

                </div>
            </div>

            <!--Asics-->
            <div class="col-md">
                <div class="asics">
                    <h3>Asics</h3>

                </div>
            </div>
        </div>

        <!--Company News Post-->
        <div class="row">
            <!--Company Vision-->
            <div class="col-md">
                <div class="vision">
                    <h2>Our Vision</h2>
                    <p>XYZ seeks to maximize performance in dedicated career runners while also providing the most comfortable fit possible 
                        for casual runners. This dedication translates to providing an array of brands alongside our own Orion brand of shoes
                        to offer an extensive range of shoes to fit the needs of the public. Furthermore, we have dedicated staff who are 
                        willing to speak to our customers on what their main focus areas are and how to get them going. 
                    </p>
                </div>
            </div>

            <!--Community Outreach-->
            <div class="col-md">
                <div class="community">
                    <h2>Running for a Cause</h2>
                    <p>We're currently sponsoring a series of races across the country to help bring communities closer and raise money
                        in the fight against heart disease and cancer. Stay posted for updates on the latest races and whether they will
                        be taking place in your area. Our latest race in Seattle, WA was a big success drawing out over 5,000 runners from 
                        across the state and raising over $100,000 towards brain cancer research. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-md">
                <h3>XYZ</h3>
            </div>
        </div>
    </div>
